#header-popup
  %h1=t(:edit_device)
  %br
.container{:style => "width:600px"}
  = form_for @device, :url => device_path(@device), :remote => true do |f|
    #errors

    = render :partial => 'form', :locals => {:f => f}

