.header{
  height: 60px;
  background-color: gray;
}

.header .title{
  margin-left: 600px;
  color: white;
  font-size: 36px;
  font-family: Arial;
}

.header .subtitle{
  margin-left: 600px;
  color: black;
  font-size: 12px;
  font-family: Arial;
}

.header .flashes{
  float: right;
  margin: -45px 10px;
  width: auto;
}

.header .flashes .notice{
  font-size: 15;
}

.main-container{
/*  background-color: blue;*/
  height: 800px;
  position: relative;
}

.main-container .leftbar{
  width: 16%;
  float: left;
  background-color: #F0F0F0;
  height: 100%;
}

.main-container .leftbar .title{
  color: black;
  font-size: 16px;
  padding: 10px;
}

.main-container .main{
  padding: 10px;
  float: right;
  width: 81%;
}

.main-container .leftbar li{
  border: medium none;
  list-style-image: none;
  list-style-type: none;
  font-size: 10pt;
  padding: 1px;
}

.main-container .leftbar li li {
  font-size: 10pt;
}

.main-container .leftbar a {
  text-decoration: none;
}

.main-container .leftbar li a.selected {
  color: #4c4338;
  text-decoration: underline;
}

.main-container .leftbar a:hover, .main-container .leftbar a:active {
  text-decoration: underline;
}

.even{
  background-color: #fafafa;
  }
  
  .odd {
    background-color: #a4a4a4;
    }
