.header{
  height: 60px;
  background-color: gray;
}

.header .title{
  margin-left: 600px;
  color: white;
  font-size: 36px;
  font-family: Arial;
}

.header .subtitle{
  margin-left: 600px;
  color: black;
  font-size: 12px;
  font-family: Arial;
}

.header .flashes{
  float: right;
  margin: -30px 10px;
  width: auto;
  font: 12px Verdana, Helvetica, Arial;
  color: white;
}

.header .flashes .notice{
  font-size: 15;
}

.main-container{
/*  background-color: blue;*/
  height: 800px;
  position: relative;
}

.main-container .leftbar{
  width: 16%;
  float: left;
  background-color: #F0F0F0;
  height: 100%;
}

.main-container .leftbar .title{
  color: black;
  font-size: 16px;
  padding: 10px;
}

.main-container .main{
  padding: 10px;
  float: right;
  width: 81%;
}

.main-container .leftbar li{
  border: medium none;
  list-style-image: none;
  list-style-type: none;
  font-size: 10pt;
  padding: 1px;
}

.main-container .leftbar li li {
  font-size: 10pt;
}

.main-container .leftbar a {
  text-decoration: none;
}

.main-container .leftbar li a.selected {
  color: #4c4338;
  text-decoration: underline;
}

.main-container .leftbar a:hover, .main-container .leftbar a:active {
  text-decoration: underline;
}

.even{
  background-color: #E5ECF9;
}
  
.odd {
  background-color: white;
}
 
.hide {
  display: none;
}
  
.pretty {
//  background-color: grey;
  background-color: #BDBDBD;
  color: white;
  font-size: 10pt; 
}

tr.pretty th{
  text-align: center;
}

#users tr.body:hover{
//  background-color: orange;
  background-color: #FAAC58;
  color: blue;
}

#users tr th a{
  text-decoration: none;
}


tr.body td{
  text-align: center;
}

.pretty th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

#calldate{
  font-size: 11px;
}

#timedate{
  font-size: 9px;
  }
  
#news{
  margin: 15px 5px;
  float: right;
  padding: 5px;
  width: 400px;
  background-color: #A4E7A0;
  color: blue;
  border: 1px solid #26722D;
  font: bold 12px Verdana, Helvetica, Arial;
  text-align: center;
}

.round{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#header-popup h1{
  background-color: gray;
  color: white;
  font: bold;
  padding: 0px;
  margin: 0px 0px;
}
  
#flash-login .login{
  color: white;
  font: 12px Verdana, Helvetica, Arial;
  width: 100%;
  float: left;
  background-color: gray;
  height: 90%;
  margin-left: -570px;
  margin-top: -35px;
}
  
#search {
float: right;
margin-top: -50px;
margin-right: 80px;
}

#submit .button{
float: right;
margin-top: -52px;
margin-right: 0px;
}
