$.fancybox.close();

$("#news").html("User was successfully created");

$("#users_table").html("#{escape_javascript(render :partial => 'users')}");

$("#news").show();

$("#news").fadeIn(3000, "slow");

$("#news").fadeOut(5000, "slow");

