%h1 Listing incomming calls

= form_tag incomming_calls_path, :method => 'get', :id => "incommingcalls_search" do
  %p
    = text_field_tag :search, params[:search]
    #submit
      .button    
        = submit_tag "Search", :name => nil
  %p
  #incomming_calls_table
    = render 'incomming_calls'
