#block-text.block
  .content
    %h2.title Home
  .inner
    %p.first
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


- content_for(:info) do
  Estoy metiendo codigo desde aca en al barra de navegacion


