#block-text.block
  .content
    %h2.title Welcome to Rubill

  %p.nice_text
    RuBill is a simple interface to administrate your billing calls.

  .inner
    %p.first
      %hr.space
      %hr.space
      %hr.space
      %hr.space


  .column
    = link_to logo

- content_for(:info) do
  Welcome to your dashboard...

:javascript
  $(document).ready(function() {
    $("#import_button").click( function(){
      $.ajax({
          type: "POST",
          url: '/import',
          beforeSend: function(){
            $("#import_spin").show();
          },
          complete: function() {
            $("#import_spin").hide();
          }
      });

      return false;
    });
  });

