%h1.title=t(:outgoing_calls)

= form_tag outgoing_calls_path, :method => 'get', :id => "outgoingcalls_search" do
  %p
    = text_field_tag :search, params[:search], :placeholder => t(:calldate_search)
    #submit
      .button
        = submit_tag t(:search), :name => nil
  %p
  #outgoing_calls_table
    = render 'outgoing_calls'
