= f.hidden_field 'user_id', :value => current_user.id

.prepend-0
  .span-3
    .field
      = f.label :csv, t(:csv_file)
  .span-2
    = f.file_field :csv

%br
.column 
  .prepend-8
    = f.submit t(:save), :id => 'submit_button'

