$.fancybox.close();

$("#news").html("CSV was successfully added");

$('#news').delay(500).fadeIn(2500, function() {
$(this).delay(1500).fadeOut(4000);
});

$("table#csvfiles tr:first").after("#{escape_javascript(render(:partial => @csv_file))}");

$(function() {
$("a.popme").fancybox({'padding':  7});
});
