#header-popup
  %h1 Editing csv_file
  %br
.container{:style => "width:600px"}
  = form_for @csv_file, :url => csv_file_path(@csv_file), :remote => true do |f|
    #errors

    = render :partial => 'form', :locals => {:f => f}

