%h1.title CSV files

= form_tag csv_files_path, :method => 'get', :id => "csv_files_search" do
  %p
    = text_field_tag :search, params[:search], :placeholder => 'Enter the file name to search...'
    #submit
      .button
        = submit_tag "Search", :csv_file => nil
%p
#csv_files_table
  = render 'csv_files'
