%h1.title=t(:failed_calls)

= form_tag failed_calls_path, :method => 'get', :id => "failedcalls_search" do
  %p
    = text_field_tag :search, params[:search], :placeholder => t(:calldate_search)
    #submit
      .button
        = submit_tag t(:search), :name => nil
  %p
  #failed_calls_table
    = render 'failed_calls'
