%h1.title
  Failed calls

= form_tag failed_calls_path, :method => 'get', :id => "failedcalls_search" do
  %p
    = text_field_tag :search, params[:search], :placeholder => 'Enter call date to search...'
    #submit
      .button
        = submit_tag "Search", :name => nil
  %p
  #failed_calls_table
    = render 'failed_calls'
