#header-popup
  %h1=t(:add_failedcall)
  %br
.container{:style => "width:500px"}
  = form_for @failed_call, :url => failed_calls_path, :remote => true do |f|
    #errors

    = render :partial => 'form', :locals => {:f => f}
