$.fancybox.close();

$("#news").html("Failed call was updated succesfully");

$('#news').delay(500).fadeIn(2500, function() {
$(this).delay(1500).fadeOut(4000);
});

$("tr#failedcall_#{@failed_call.id}").replaceWith("#{escape_javascript(render(:partial => @failed_call))}");

$(function() {
$("a.popme").fancybox({'padding':  7});
});
