#header-popup
  %h1 New rate
  %br
.container{:style => "width:500px"}
  = form_for @rate, :url => rates_path, :remote => true do |f|
    #errors

    = render :partial => 'form', :locals => {:f => f}
