%html
  %head
    %title RuBill + render_navigation(:renderer => :text, :join_with => ' - ')
    = stylesheet_link_tag 'override.css'
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/drastic-dark/style", "web-app-theme/override", :cache => true
    = csrf_meta_tag

  %body
    #container
      #box
        = yield
